<a href="https://colab.research.google.com/github/jbonnelycke/CS488S21/blob/main/CS488_JB_week3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Computer Networks and the Internet, Pace University, Spring 2021
## Last update: 2.9.2021

## Last class:

1. Programming language -> Interpreter -> Machine language
1. IDLE (editor + interpreter), we will stick to jupyter notesbook for now
1. Interactive mode vs. Script mode
1. Python3 instead of Python2
1. No type in declaration, type conversion on the fly
1.` import sys `for command line arguments

* print function - prints a textual representation to the console

In [ ]:
print("hello world")

hello world

In [ ]:
print("hello", "world", "!");

hello world !

* How about reading input?

In [ ]:
m = int(input("please enter a number ")) # input interprets it as a string, so need type conversion
m # thus, if you try to input 'a' here, it will be an invalid literal for base 10 integer

please enter a number a

ValueError: ignored

###Variables, types

* int - integers: ..., -3, -2, -1, 0, 1, 2, 3, ...

In [ ]:
x=3
y=4 
print(x, type(x))
x=3.3 #for the same name x, the type could be a moving target, so python provides function type()
print(x, type(x))

3 <class 'int'>
3.3 <class 'float'>

* float - floating point numbers, decimal point fractions: -3.2, 1.5, 1e-8, 3.2e5

In [ ]:
x=3.2e5
print(x,type(x))

320000.0 <class 'float'>

* str - character strings, text: "intro2CS", 'python'

In [ ]:
classx="intro2cs"
language='python'
classx
language

'python'

* bool - boolean values: True and False

In [ ]:
i_hate_python=False
i_love_c=True # need cap
print(i_hate_python, type(i_hate_python))
print(i_love_c, type(i_love_c))

False <class 'bool'>
True <class 'bool'>

In [ ]:
#remember the negative cases
print(bool(None)) # false; none is the same as null
print(bool(0)) # false
str="abc"
print(bool(str)) # true; a string in c is a pointer to address, same in python. so the content being present is true
str=""
print(bool(str)) # false; an empty string is false which is just a weird exception to the norm

False
False
True

## Operators

### Mathematical operators

Addition:

In [ ]:
4+5

9

In [ ]:
x=3
x+5

8

In [ ]:
 3.0+4.00

7.0

Subtraction:

In [ ]:
x-1 # it prints 2 because we assigned x = 3 above

2

Multiplication:

In [ ]:
x*3

9

Division - float and integral with / and //:

In [ ]:
x/2
x//2

1

Power:

In [ ]:
2**4 # python makes your life easier, so lots of building block math functions

Modolu:

In [ ]:
15%6

3

### String operators

String concatenation using +:

In [ ]:
y="hello"+" world "
print(y)

hello world

String duplication using *:

In [ ]:
y*3

'hello world hello world hello world '

Strings vs. numbers:

In [ ]:
"bye"+2

In [ ]:
3+2 # addition

In [ ]:
"a"+"b" # concatenation

### Comparisons

In [ ]:
5==4

False

In [ ]:
3==3.0

In [ ]:
5=="5"

False

In [ ]:
"abc" == 'abc' # compares the contents, unlike c and java which compare address

True

### Logical operators

* not:

In [ ]:
# in java and c it's ! for logical not, in python it's 'not'
not True
x = True
not x

False

* and:

In [ ]:
True and True

True

In [ ]:
True and False

False

* or:

In [ ]:
y = False
x or y

True

## Conversions

Use the functions `int()`, `float()`, and `str()` to convert between types (we will talk about *functions* next time):

In [ ]:
int("123")

123

In [ ]:
float("1.23")

1.23

In [ ]:
x=MyClass(...)
str(x)

NameError: ignored

## Flow control

### Conditional statements

The `if` condition formula - replace conditions and statements with meaningful code:

    if *condition*:
        *statement*
        *statement*
        ...
    elif *condition*: # 0 or more elif clauses
        *statement*
        *statement*
        ...    
    else:             # optional
        *statement*
        *statement*

Example:

In [ ]:
today = "Tuesda"
i_feel_well = True
show_is_on = True

if today == "Tuesday":
  if i_feel_well:
    print("I am going to class 488")
  else:
    print("I am not going to class because I am not feeling well")
elif show_is_on:
  print("I am going to watch show")
else:
  print("I am going to sleep")
print("I am going to play video games")

I am going to watch show
I am going to play video games

### Loops

* While:

    while *condition*:
        *statement*
        *statement*

Example - count how many times 0 appears in an integer number:

In [ ]:
num=2**100
num

1267650600228229401496703205376

In [ ]:
n_zero=0

while num > 0:
  remainder=num%10
  num=num//10
  if remainder == 0:
    n_zero=n_zero+1
print(n_zero)

6

* For:

    for *variable* in *iterable*:
        *statement*
        *statement*

Example - solve the same problem with a `str` type instead of `int`:

In [ ]:
num=2**100
n_zero=0
for digit in str(num):
  print(digit, type(digit))
  if digit == "0": # interchangeably use single and double quotes. everything is a string, no char's
    n_zero=n_zero+1

print(n_zero)

1 <class 'str'>
2 <class 'str'>
6 <class 'str'>
7 <class 'str'>
6 <class 'str'>
5 <class 'str'>
0 <class 'str'>
6 <class 'str'>
0 <class 'str'>
0 <class 'str'>
2 <class 'str'>
2 <class 'str'>
8 <class 'str'>
2 <class 'str'>
2 <class 'str'>
9 <class 'str'>
4 <class 'str'>
0 <class 'str'>
1 <class 'str'>
4 <class 'str'>
9 <class 'str'>
6 <class 'str'>
7 <class 'str'>
0 <class 'str'>
3 <class 'str'>
2 <class 'str'>
0 <class 'str'>
5 <class 'str'>
3 <class 'str'>
7 <class 'str'>
6 <class 'str'>
6

Builtin solution:

In [ ]:
num=2**100
n_zero=str.count(str(num), "0")

print(n_zero)

6

### Efficiency

We can measure which solution is faster:

In [ ]:
%%timeit
num=2**100
n_zero=0

while num > 0:
  remainder=num%10
  num=num//10
  if remainder == 0:
    n_zero=n_zero+1

100000 loops, best of 3: 4.41 µs per loop

In [ ]:
%%timeit
num=2**100
n_zero=0
for digit in str(num):
  if digit == "0": # interchangeably use single and double quotes. everything is a string, no char's
    n_zero=n_zero+1

The slowest run took 4.80 times longer than the fastest. This could mean that an intermediate result is being cached.
1000000 loops, best of 3: 1.87 µs per loop

In [ ]:
%%timeit
num=2**100
n_zero=str.count(str(num), "0")

The slowest run took 10.45 times longer than the fastest. This could mean that an intermediate result is being cached.
1000000 loops, best of 3: 773 ns per loop

The builtin solution is 4 times faster than the `for` solution which is 3 times faster than the `while` solution.

### Other notes

* The `while` solution will not work for `num <= 0`
* The `while` solution will not work for non-numerals (e.g, `num = "Cola 0 is awesome!"`)
* The builtin solution is implemented with C and that is why it is faster

# Exercise: Collatz Conjecture

* The [Collatz Conjecture](http://en.wikipedia.org/wiki/Collatz_conjecture) (also known as the *3n+1* conjecture) is the conjecture that the following process is finite for every natural number:
> If the number $n$ is even divide it by two ($n/2$), if it is odd multiply it by 3 and add 1 ($3n+1$). Repeat this process untill you get the number 1.


## Implementation
We start with the "Half Or Triple Plus One" process:

note: grammar `for`

`for i in str("abc")`

In [ ]:
for m in range(1, 100): # range is (inclusive, exclusive)
  n = m
  while n > 1:
    if n % 2 == 0:
      n = n // 2
    else:
      n = n * 3 + 1
  print(m, "is ok")

1 is ok
2 is ok
3 is ok
4 is ok
5 is ok
6 is ok
7 is ok
8 is ok
9 is ok
10 is ok
11 is ok
12 is ok
13 is ok
14 is ok
15 is ok
16 is ok
17 is ok
18 is ok
19 is ok
20 is ok
21 is ok
22 is ok
23 is ok
24 is ok
25 is ok
26 is ok
27 is ok
28 is ok
29 is ok
30 is ok
31 is ok
32 is ok
33 is ok
34 is ok
35 is ok
36 is ok
37 is ok
38 is ok
39 is ok
40 is ok
41 is ok
42 is ok
43 is ok
44 is ok
45 is ok
46 is ok
47 is ok
48 is ok
49 is ok
50 is ok
51 is ok
52 is ok
53 is ok
54 is ok
55 is ok
56 is ok
57 is ok
58 is ok
59 is ok
60 is ok
61 is ok
62 is ok
63 is ok
64 is ok
65 is ok
66 is ok
67 is ok
68 is ok
69 is ok
70 is ok
71 is ok
72 is ok
73 is ok
74 is ok
75 is ok
76 is ok
77 is ok
78 is ok
79 is ok
80 is ok
81 is ok
82 is ok
83 is ok
84 is ok
85 is ok
86 is ok
87 is ok
88 is ok
89 is ok
90 is ok
91 is ok
92 is ok
93 is ok
94 is ok
95 is ok
96 is ok
97 is ok
98 is ok
99 is ok

## Next 
we add another loop that will run the conjecture check on a range of numbers:

In [ ]:
for m in range(2, 100, 2): # that new parameter is the step amount. so this does it on all evens
  n = m
  while n > 1:
    if n % 2 == 0:
      n = n // 2
    else:
      n = n * 3 + 1
  print(m, "is ok")

2 is ok
4 is ok
6 is ok
8 is ok
10 is ok
12 is ok
14 is ok
16 is ok
18 is ok
20 is ok
22 is ok
24 is ok
26 is ok
28 is ok
30 is ok
32 is ok
34 is ok
36 is ok
38 is ok
40 is ok
42 is ok
44 is ok
46 is ok
48 is ok
50 is ok
52 is ok
54 is ok
56 is ok
58 is ok
60 is ok
62 is ok
64 is ok
66 is ok
68 is ok
70 is ok
72 is ok
74 is ok
76 is ok
78 is ok
80 is ok
82 is ok
84 is ok
86 is ok
88 is ok
90 is ok
92 is ok
94 is ok
96 is ok
98 is ok

`range` is a good friend with `for` loop

In [ ]:
say = 'I find that the harder I work, the more luck I seem to have.'
len(say.split("the"))

3

# Lists

* Lists are sequences of values. 
* Lists can contain a mix of types:

In [ ]:
# python does not have internal support for array. they are trying to make it simple 
mixed_list=[]
print(mixed_list) # this is an empty list
mixed_list=[3, 5.2, "Hello world", True, [1,2.3]] # works, because it's kinda like a void* linkedlist in c, with
                                                  # pointers to the next node and the void* value
print(mixed_list)

[]
[3, 5.2, 'Hello world', True, [1, 2.3]]

Lists are indexable, starting at 0:

In [ ]:
print(mixed_list[1]) #prints 5.2. 0-base counting. indexed like arrays in java/c

5.2

Negative indices are counted from the tail:

In [ ]:
# 0 is the beginning, so -1 is the end of the list, -2 is second from last, etc.
print(mixed_list[-2]) # prints True

True

Lists can be sliced:

In [ ]:
mixed_list=[3, 5.2, "Hello world", True, [1,2.3], range]
mixed_list[1:2] # again, left inclusive, right exclusive. thus this is just 1 element, which is 5.2

[5.2]

In [ ]:
mixed_list[1:4] # extracts 1, 2, 3 elements

[5.2, 'Hello world', True]

In [ ]:
mixed_list[-5:-2]

[5.2, 'Hello world', True]

In [ ]:
mixed_list[-2:-5] 
mixed_list[4:1] 
# both won't work bc it will only read from left to right

[]

In [ ]:
mixed_list[:2] #default beginning of 0

In [ ]:
mixed_list[:-2] #default beginning of -6

[3, 5.2, 'Hello world', True]

In [ ]:
mixed_list[10] #this gives error for index out of range

IndexError: ignored

Lists can be concatenated

In [ ]:
print(mixed_list + [1, 2]) 
print(mixed_list) # if you want to save the above list, have to assign it to a new list.

[3, 5.2, 'Hello world', True, [1, 2.3], <class 'range'>]

Lists have a rich set of functions

In [ ]:
x=[1,2,4,3,5]
x

[1, 2, 4, 3, 5]

In [ ]:
print(sum(x)) # 15; just sums all of em
# x=[1,2,3,4,5, "6"]
# print(sum(x)) # gives an error. only works if type matches

15

In [ ]:
len(x)

5

In [ ]:
sorted(x)

[1, 2, 3, 4, 5]

Lists are iterable

In [ ]:
mixed_list=[3, 5.2, "Hello world", True, [1,2.3], range]
mixed_list

[3, 5.2, 'Hello world', True, [1, 2.3], range]

In [ ]:
for ele in mixed_list:
  if type(ele) == list:
    print(ele)

[1, 2.3]

**NEW**
###A list of numbers can be created using list comprehension. The syntax is:

[**expression** for **variable** in **iterable** if **condition**] 

The if **condition** part is optional, the statement and the condition can use variable.

Example: Create a list of the squares of numbers between 1 and 10:

In [ ]:
print([ number**2 for number in range (1,11) ]) #
print([ number**2 for number in range (1,11) if number%2==0 ])

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[4, 16, 36, 64, 100]

In [ ]:
lst=[]
for number in range(1,11):
  lst=lst+[num**2]

Try: Create a list of the square roots of odd numbers between 1 and 20:

In [ ]:
[number**.5 for number in range (1,21) if number%2!=1]

[1.4142135623730951,
 2.0,
 2.449489742783178,
 2.8284271247461903,
 3.1622776601683795,
 3.4641016151377544,
 3.7416573867739413,
 4.0,
 4.242640687119285,
 4.47213595499958]

#Exericse:  Grades problem

Given a list of grades, count how many are above the average.

In [ ]:
grades = [33, 55,45,87,88,95,34,76,87,56,45,98,87,89,45,67,45,67,76,73,33,87,12,100,77,89,92]

Use `for` loop

In [ ]:
avg = sum(grades) / len(grades)
print(avg)
count = 0
for grade in grades:
  if grade >= avg:
    count = count + 1
print(count)

68.07407407407408
15

How about trying **list comprehension**?

In [ ]:
avg = sum(grades) / len(grades)
print(avg)
count = [grade for grade in grades if grade>=avg]
print(len(count))

68.07407407407408
15

#Functions!
## extremly simple syntax
`def func_name(list of params):`

In [ ]:
def empty_func():
  pass

In [ ]:
def max2(a, b):
  if a >= b:
    return a
  else:
    return b

def min2(a, b):
  if a <= b:
    return a
  else:
    return b

def max3v1(a,b,c):
  if a >=b and a>=c:
    return a
  elif b>=a and b>=c:
    return b
  else:
    return c

def max3v2(a,b,c):
  max_ab = max2(a,b)
  return max2(max_ab,c)
  
print(max3v2(10.2,12,8))

12

In [ ]:
%timeit max3v1(100,4,15)
%timeit max3v1(4,15,100)
%timeit max3v2(100,4,15)
%timeit max3v2(4,15,100)

The slowest run took 13.58 times longer than the fastest. This could mean that an intermediate result is being cached.
10000000 loops, best of 3: 119 ns per loop
The slowest run took 8.83 times longer than the fastest. This could mean that an intermediate result is being cached.
10000000 loops, best of 3: 139 ns per loop
The slowest run took 6.53 times longer than the fastest. This could mean that an intermediate result is being cached.
1000000 loops, best of 3: 282 ns per loop
The slowest run took 5.90 times longer than the fastest. This could mean that an intermediate result is being cached.
1000000 loops, best of 3: 278 ns per loop

#Exercise: Implement `convert_base` function

##The binary system and base conversions

A binary number is a number in the base 2, which means that it only uses 2 digits - 0 and 1.
The "regular" numbers we use, the decimal numbers, are in base 10, which means they use 10 digits - 0,1,2,3,4,5,6,7,8,9.

What is a base? To understand base X, imagine you have X fingers instead of 10. **How would you count with X fingers?**

### Converting binary to decimal

Looking at a binary number, 10011010, the **Least Significant Digit** (or **bit** for binary digits), in this case 0, is  the right most digit, and if it is 1 then it is worth $2^0=1$, otherwise it is worth 0. The next bit (in this case 1) is worth $2^1=2$. The next one is worth $2^2=4$, and the *k*-th digit/bit from the right (starting with *k=0*) is worth $2^k$. In general, denoting the binary number $x_{base 2} = a_n a_{n-} ... a_1 a_0$, it's decimal value can be evaluated by
$$
x_{base 10} = \sum_{n \ge k \ge 0} a_k 2^k
$$

Let's write python code for this:

In [ ]:
x_bin="10011010"
x_dec=0
len=len(x_bin)
counter=0
for item in x_bin:
  counter = counter + 1
  if item == "1":
    x_dec = x_dec + (2**(len-counter))
print(x_dec)

154

### Converting decimal to binary
Converting from decimal to binary is done by integer division. Remember that taking the modulo 10 of a number gives the LSD in base 10, and diving by 10 removes the LSD. This is the basic idea:

### Actually...python has bult-in support for some power-of-two base conversion -__-!

###But we want to do a conversion from base-10 to any arbitrary base  
> We want to convert from base 10 to base b $(2 \le b < 10)\;$ :

### and now to base b for $10 < b \le 36\;$ :